.container {
  width: 750px;
  position: relative;
  background-color: $blue;
  margin: auto;

  div {
    height: 500px;
  }
}

.column-left {
  width: 30%;
  float: left;
  left: 0;
  background-color: $blue;
}

.column-middle {
  width: 30%;
  float: left;
  margin-left: 5%;
  background-color: $blue;
}

.column-right {
  width: 30%;
  float: left;
  margin-left: 5%;
  background-color: $blue;
}