$navbar-border: rgba(#cbcbcb, 0.9);
$navbar-bg: white;
$navbar-hover: rgba(#dadada, 0.9);
$navbar-hover-border: rgba(#ff0600, 0.9);
$navbar-height: 76px;

$font-primary: 'Open Sans', serif;
$font-title: 'Source Sans Pro', sans-serif;
$font-secondary: Bree Serif, serif;

$bg-img: '/img/bg.png';

$column-border: rgba(#dedede, 0.9);

$carousel-bg: rgba(#dedede, 0.9);

$navigation-bg: rgba(#000000, 0.5);

$modal-button-hover: rgba(#000000, 0.5);
$modal-overlay-bg: rgba(#000000, 0.5);

$gray: #dedede;
$white: #ffffff;